.grid {
    border: 1px solid black;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.ending-block {
    background-image: url("../img/end.png");
	background-size: contain;
}

.starting-block {
    background-image: url("../img/start.png");
	background-size: contain;
}
.l1, .l2, .l3 {
   background-color: brown;
}

.l4, .l5 {
    background-color: aqua;

}

.c1 {
    background-image: url("../img/car.png");
	background-size: contain;
    
}

.c2, .c3 {
    background-image: url("../img/road.png");
	background-size: 31px;
}

.frog {
	background-image: url("../img/frog.png");
	background-size: contain;
}


